<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zack.shop">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.base.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="theme">
        <activity
            android:name=".mvp.ui.activity.login.SplashActivity"
            android:theme="@style/Splash_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.login.LoginActivity" />
        <activity android:name=".mvp.ui.activity.MainActivity" />

        <meta-data
            android:name="com.zack.shop.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity android:name=".mvp.ui.activity.comment.CommentDetailsActivity" />

        <!-- rong cloud  start -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zack.shop.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <receiver
            android:name=".mvp.ui.activity.conversation.RongIMNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".mvp.ui.activity.conversation.ConversationListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zack.shop"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.conversation.ConversationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zack.shop"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- rong cloud end -->

        <activity android:name=".mvp.ui.activity.product.ProductDetailsActivity" />
        <activity android:name=".mvp.ui.activity.login.RegisterActivity" />
        <activity android:name=".mvp.ui.activity.set.AppSetActivity" />
        <activity android:name=".mvp.ui.activity.comment.PublishCommentActivity" />
        <activity android:name=".mvp.ui.activity.order.CreateOrderActivity" />
        <activity android:name=".mvp.ui.activity.product.CreateProductActivity" />
        <activity android:name=".mvp.ui.activity.product.ManageProductActivity" />
        <activity android:name=".mvp.ui.activity.order.OrderManageListActivity" />
        <activity android:name=".mvp.ui.activity.product.SearchActivity" />
        <activity android:name=".mvp.ui.activity.product.SearchProductListActivity" />
        <activity android:name=".mvp.ui.activity.PhotoViewActivity" />
        <activity android:name=".mvp.ui.activity.login.WelcomeActivity" />
        <activity android:name=".mvp.ui.activity.UserDetailsActivity" />
    </application>

</manifest>